.overlay_dialog {
	background-color: #666666;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.overlay___invisible__ {
  background-color: #666666;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

.dialog_nw {
	width: 9px;
	height: 23px;
	background: transparent url(../images/default/top_left.gif) no-repeat 0 0;		
}

.dialog_n {
	background: transparent url(../images/default/top_mid.gif) repeat-x 0 0;	
	height: 23px;
}

.dialog_ne {
	width: 9px;
	height: 23px;
	background: transparent url(../images/default/top_right.gif) no-repeat 0 0;		
}

.dialog_e {
	width: 2px;
	background: transparent url(../images/default/center_right.gif) repeat-y 0 0;	
}

.dialog_w {
	width: 2px;
	background: transparent url(../images/default/center_left.gif) repeat-y 0 0;		
}

.dialog_sw {
	width: 9px;
	height: 19px;
	background: transparent url(../images/default/bottom_left.gif) no-repeat 0 0;			
}

.dialog_s {
	background: transparent url(../images/default/bottom_mid.gif) repeat-x 0 0;		
	height: 19px;
}

.dialog_se {
	width: 9px;
	height: 19px;
	background: transparent url(../images/default/bottom_right.gif) no-repeat 0 0;			
}

.dialog_sizer {
	width: 9px;
	height: 19px;
	background: transparent url(../images/default/sizer.gif) no-repeat 0 0;	
	cursor:se-resize;	
}

.dialog_close {
	width: 17px;
	height: 17px;
	background: transparent url(../images/default/close.gif) no-repeat 0 0;			
	position:absolute;
	top:3px;
	right:8px;
	cursor:pointer;
	z-index:2000;
}

.dialog_minimize {
	width: 17px;
	height: 17px;
	background: transparent url(../images/default/minimize.gif) no-repeat 0 0;			
	position:absolute;
	top:3px;
	right:49px;
	cursor:pointer;
	z-index:2000;
}

.dialog_detach {
	width: 17px;
	height: 17px;
	background: transparent url(../images/default/detach.gif) no-repeat 0 0;			
	position:absolute;
	top:3px;
	right:70px;
	cursor:pointer;
	z-index:2000;
}

.dialog_maximize {
	width: 17px;
	height: 17px;
	background: transparent url(../images/default/maximize.gif) no-repeat 0 0;			
	position:absolute;
	top:3px;
	right:28px;
	cursor:pointer;
	z-index:2000;
}

.dialog_title {
	float:left;
	height:14px;
	font-size:12px;
	text-align:center;
	width:100%;
	font-family: Tahoma, Arial, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color:#ebe6e1;
}

.dialog_content {
	overflow:hidden;
	color: #000;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 10px;
	background-color:#ebe6e1;
	padding: 0;
}

.top_draggable, .bottom_draggable {
  cursor:default;
}

.status_bar {
  font-size:12px;
}
.status_bar input{
  font-size:12px;
}
/* DO NOT CHANGE THESE VALUES*/
.dialog {
	display: block;
	position: absolute;
}

.dialog table.table_window  { 
  border-collapse: collapse; 
  border-spacing: 0; 
  width: 100%;
  margin: 0px;
  padding:0px;
}

.dialog table.table_window td , .dialog table.table_window th { 
  padding: 0; 
}

.dialog .title_window {
  -moz-user-select:none;
}
