.modalFrame {
   display: none;
   position: absolute;
   display: block;
   width: 762px;
   height: 529px;
   margin: 0px auto;
   padding-top: 140px;
   text-align: center;
   background-image: url(../images/modal/background.jpg);
   background-repeat: no-repeat;
   cursor: default;
}

.modalFrame input {
   cursor: text;
}

.modalFrame p {
   font-family: Verdana, Tahoma, Arial, sans-serif;
   font-size: 14px;
   margin: 3px;
}

.modalFrame .dialog_label{
   padding-left: 190px;
}

.modalFrame a {
   cursor: default;
}

div#loginDialog {
   padding-top: 35px;
}

div#forgotPassDialog {
   padding-top: 60px;
}

div#registerDialog {
   margin-top: -15px;
}