.dialog_label, .dialog_input, .dialog_error  {
   padding: 10px;
   color: #000;
   text-align: right;
   float: left; 
   width: 150px;
   font-size: 14px;
   font-weight: bold;
}

.dialog_long_label { 
   padding: 10px;
   color: #000;
   text-align: center;
   width: 100%;
   font-size: 14px;
   font-weight: bold;
}

.dialog_links {
   display: block;
   font-size: 14px;
   font-weight: bold;
   color: #000;
   padding: 10px;
   width: 100%;
   text-align: center;
}

.dialog_modal_title {
  font-size: 18px;
  color: #000;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

.dialog_input {
   width: 150px;
}

.dialog_error {
   width: 100%;
   text-align: center;
   color: #F00;
}

.dialog_input input {
   width: 100%;
   font-weight: normal;
}

#login {
   background: #123;
}